.card {
    background-color: white !important;
}

.navLink {
    background-color: white;
    font-size: 20px;
    border: 2px solid #4CAF50;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    width: 48%;
    margin-bottom: 10px;
    margin: 7px;
    text-align: center;
    float: right;
    padding: 5px 0px 5px 0px;
}

.navLink:hover {
    background-color: #4CAF50;
    color: white;
}

.navLinkActive {
    background-color: #4CAF50;
    color: white;
}

@keyframes bg {
    0% {
        background-size:    0 3px,
                            3px 0,
                            0 3px,
                            3px 0;
    }
    25% {
        background-size:    100% 3px,
                            3px 0,
                            0 3px,
                            3px 0;
    }
    50% {
        background-size:    100% 3px,
                            3px 100%,
                            0 3px,
                            3px 0;
    }
    75% {
        background-size:    100% 3px,
                            3px 100%,
                            100% 3px,
                            3px 0;
    }
    100% {
        background-size:    100% 3px,
                            3px 100%,
                            100% 3px,
                            3px 100%;
    }
}

.borderAnimation {
    border: 2px solid darkseagreen;    
    background-repeat: no-repeat;
    background-image:   linear-gradient(to right, darkseagreen 100%, darkseagreen 100%),
                        linear-gradient(to bottom, darkseagreen 100%, darkseagreen 100%),
                        linear-gradient(to right, darkseagreen 100%, darkseagreen 100%),
                        linear-gradient(to bottom, darkseagreen 100%, darkseagreen 100%);
    background-size:    100% 3px,
                        3px 100%,
                        100% 3px,
                        3px 100%;
    background-position:    0 0,
                            100% 0,
                            100% 100%,
                            0 100%;
    animation: bg 1.25s cubic-bezier(0.19, 1, 0.22, 1) 1;
    box-shadow: 2px 11px 18px 0px red(219,219,219,0.81);
}

.borderAnimation:hover {
    animation-play-state: running;
}