.nested {
    background-color: white !important;
    -webkit-box-shadow: 2px 11px 18px 0px rgba(219,219,219,0.81);
    -moz-box-shadow: 2px 11px 18px 0px rgba(219,219,219,0.81);
    box-shadow: 2px 11px 18px 0px red(219,219,219,0.81);
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-3px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-3px); }
}

.nested:before {
    position: absolute;
    width: 0;
    margin: 0 106px 0 0;
    height: 0;
    border: 8px solid transparent;
    border-left-color: #3A8682;
    box-shadow: -2px 1px 2px 0px rgba(0,0,0,0.10);
    border-right: 0;
    border-bottom: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.navLinkActive {
    background-color: #4CAF50;
    color: white;
}

@keyframes bg {
    0% {
        background-size:    0 3px,
                            3px 0,
                            0 3px,
                            3px 0;
    }
    25% {
        background-size:    100% 3px,
                            3px 0,
                            0 3px,
                            3px 0;
    }
    50% {
        background-size:    100% 3px,
                            3px 100%,
                            0 3px,
                            3px 0;
    }
    75% {
        background-size:    100% 3px,
                            3px 100%,
                            100% 3px,
                            3px 0;
    }
    100% {
        background-size:    100% 3px,
                            3px 100%,
                            100% 3px,
                            3px 100%;
    }
}

.borderAnimation {    
    background-repeat: no-repeat;
    background-image:   linear-gradient(to right, #4CAF50 100%, #4CAF50 100%),
                        linear-gradient(to bottom, #4CAF50 100%, #4CAF50 100%),
                        linear-gradient(to right, #4CAF50 100%, #4CAF50 100%),
                        linear-gradient(to bottom, #4CAF50 100%, #4CAF50 100%);
    background-size:    100% 3px,
                        3px 100%,
                        100% 3px,
                        3px 100%;
    background-position:    0 0,
                            100% 0,
                            100% 100%,
                            0 100%;
    animation: bg 1.25s cubic-bezier(0.19, 1, 0.22, 1) 1;
    animation-play-state: paused;
}

.borderAnimation:hover {
    animation-play-state: running;
}