.navLink {
    background-color: white;
    font-size: 20px;
    border: 2px solid #4CAF50;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    width: 48%;
    margin-bottom: 10px;
    margin: 7px;
    text-align: center;
}

.navLink:hover {
    background-color: #4CAF50;
    color: white;
}

.navLinkActive {
    background-color: #4CAF50;
    color: white;
}

.right {
    float: right;
    padding: 5px 0px 5px 0px;
}

.left {
    float: left;
    padding: 5px 0px 5px 0px;

}