body { 
    font-family: sans-serif;
    background-color: #f2f2f2;
    direction: rtl;
    font-size: medium;
}

h2 {
    float: right;
    background-color: darkseagreen;
    font-size: 20px;
    font-weight: lighter;
    color: white;
    padding: 2px 15px;
    margin: 4px 4px 4px 50%;
    border: none;
    border-radius: 4px;
    position: initial;  
    top: 18px !important;  
    text-align: center;
}

.sideBar {
    width: 300px;
    right: 0;
    position: absolute;
    z-index: 1;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
}